*,*::before,*::after{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.root-container{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: 
  "side head"
  "side main";
}

.sidebar{
  grid-area: side;
  background-color: #1e90ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  row-gap: 50px;
  padding: 20px;
}

.sidebar .logo{
  display: flex;
  gap: 10px;
  color: #ffffff;
  justify-content: flex-start;
  align-items: baseline;
}

.sidebar .logo > i{
  font-size: 30px;
}

.sidebar .menu{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,min-content);
  align-items: start;
  gap: 50px;
  color: #ffffff;
  font-size: 18px;
}

.sidebar .menu li{
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.header{
  grid-area: head;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 2fr 3fr;
  grid-template-areas: 
  "srch prfl"
  "itro btns";
  align-items: center;
  padding: 0 15px;
}

.search-bar{
  grid-area: srch;
  justify-self: start;
  padding-left: 30px;
}

.search-bar input[type="search"]{
  background-color: #d3e5f5;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  width: 400px;
  margin-left: 10px;
}

.profile{
  grid-area: prfl;
  justify-self: end;
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile img{
  border-radius: 50%;
  border: 2px dashed #000000;
}

.profile-intro{
  grid-area: itro;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.profile-intro img{
  border-radius: 50%;
  border: 2px dashed #000000;
  width: 60px;
  height: 60px;
  grid-area: 1 / 1 / 3 / 2;
}

.profile-intro p{
  grid-area: 1 / 2 / 2 / 3;
}

.profile-intro h3{
  grid-area: 2 / 2 / 3 / 3;
}

.header-buttons{
  grid-area: btns;
  justify-self: end;
}

.header-buttons button{
  border: none;
  background-color: #1e90ff;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 15px;
}

.main{
  grid-area: main;
  background: linear-gradient(to bottom, #a0a0a0, #d3e5f5 8px);
}